<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<head>
    <style type="text/css">
        table, td, th {
            border: 1px solid black;
        }
        table {
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <div id="user">
        Logged in as {{ username }} <br>
        <a href = "/logout">Log out</a> <br>
    </div>
    <table>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        {% if safe %}
            </tr>
            {% for stat in info %}
                <tr>
                    {% if stat == "actions" %}
                        {% for action in actions %}
                        <tr>
                            <td>{{ action }}</td>
                            <td>{{ actions[action] }}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <td>{{ stat }}</td>
                        <td>{{ info[stat] }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            {% for stat in info %}
                <tr>
                    {% if stat not in ["id", "actions", "collector_url"] %}
                        <td>{{ stat }}</td>
                        <td>{{ info[stat] }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</body>